@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    color: #fff;
    background-color: #000;
}
h1 {
    text-align: center;
    font-size: 3rem;
    color: purple;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
th {
    font-size: 1.2rem;
    color: antiquewhite;
}
th, td {
    border: 1px solid #fff;
}

th, td {
    padding: .8rem;
}

td>img {
    width: 40px;
}

th,
td {
    border-left: none;
    border-right: none;
}